{{ define "main" }}


<div class='row justify-content-center'>
  <div class='col-lg-8'>
    <h1 class='mt-4'>RawPedia</h1>
    <!-- <h2>{{ .Title }}</h2> -->

    {{ .Content }}
  </div>
</div>


<div class='row justify-content-center'>
  <div class='col-lg-8'>

  {{ $category := "General Information" }}
  <a href='#{{ $category | urlize }}'>
    <h3 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h3>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  <hr/>

  {{ $category := "Processing Profiles" }}
  <a href='#{{ $category | urlize }}'>
    <h3 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h3>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>



  {{ $category := "Processing Profile Scripts" }}
  <a href='#{{ $category | urlize }}'>
    <h4 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h4>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>


  {{ $category := "Bundled Processing Profiles" }}
  <a href='#{{ $category | urlize }}'>
    <h4 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h4>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>


  <hr/>

  {{ $category := "Tool Description" }}
  <a href='#{{ $category | urlize }}'>
    <h3 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h3>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      {{ if eq (len .Params.tags) 1 }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
      {{ end }}
    {{ end }}
  </ul>


  {{ $category := "Exposure Tab" }}
  <a href='#{{ $category | urlize }}'>
    <h4 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h4>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ $category := "Detail Tab" }}
  <a href='#{{ $category | urlize }}'>
    <h4 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h4>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ $category := "Color Tab" }}
  <a href='#{{ $category | urlize }}'>
    <h4 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h4>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ $category := "Advanced Tab" }}
  <a href='#{{ $category | urlize }}'>
    <h4 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h4>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ $category := "Selective Editing" }}
  <a href='#{{ $category | urlize }}'>
    <h4 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h4>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ $category := "Transform Tab" }}
  <a href='#{{ $category | urlize }}'>
    <h4 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h4>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ $category := "Raw Tab" }}
  <a href='#{{ $category | urlize }}'>
    <h4 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h4>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ $category := "Metadata Tab" }}
  <a href='#{{ $category | urlize }}'>
    <h4 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h4>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>


  <hr/>

  {{ $category := "Interact" }}
  <a href='#{{ $category | urlize }}'>
    <h3 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h3>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>


  {{ $address := "/tutorials/" }}
  {{ $category := "Tutorials" }}
  <a href='#{{ $category | urlize }}'>
    <h3 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h3>
  </a>
  <ul>
    {{ range where .Site.Pages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ $category := "Compiling" }}
  <a href='#{{ $category | urlize }}'>
    <h3 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h3>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ $category := "Troubleshooting" }}
  <a href='#{{ $category | urlize }}'>
    <h3 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h3>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ $category := "Localization" }}
  <a href='#{{ $category | urlize }}'>
    <h3 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h3>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>


  {{ $category := "RawPedia Contributing" }}
  <a href='#{{ $category | urlize }}'>
    <h2 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h2>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ $category := "General Photography" }}
  <a href='#{{ $category | urlize }}'>
    <h2 id='{{ $category | urlize }}'>{{ or (T $category) $category }}</h2>
  </a>
  <ul>
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice $category) }}
      <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>



  </hr>
  <h4>All Pages</h4>
  <ul>
  {{ range .Pages.ByTitle }}
    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    <!-- {{ .Summary }} -->
  {{ end }}
  </ul>


    <hr/>
    {{ if .IsTranslated }}
      <h4>{{ i18n "translations" }}</h4>
      <ul>
        {{ range .Translations }}
          <li><a href="{{ .Permalink }}">
              {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
            </a></li>
          {{ end }}
      </ul>
    {{ end }}

  </div>
</div>
{{ end }}
